{% extends "pizzapp/base.html" %}
{% block tittle %}Administracion{%  endblock %}
{% block content %} 
<div>
{% load static %}

<!-- Imagen central de página -->
<nav class="navbar">
  <div class="container justify-content-center">
    <img src="{% static 'img/PlaceHolderLogo.png' %}" alt="Logo" width="100" height="100"> </a>
  </div>
</nav>

<!-- Opciones para navegar por LAYOUT CLIENTE-->
<nav class="navbar" ID="opciones">
  </nav>

<!--Divisor entre opciones y promociones -->

<nav class="navbar">
  <div class="container-fluid">
  </div>
</nav>           
        
  <!-- MAIN Cuerpo página -->
  <main> 

<!-- Zona para el mapa e información importante  -->

<div id="perc70" style="text-align: center;">
  <div class="justify-content-center" style="max-width: 96vw; padding-bottom: 30px; margin: auto;"> 

    <br>
    <h5 class="texto-verde">Seleccione la opcion que desea realizar: </h5>
    
    <button class="btn boton-opc1" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false">
      Administracion Pedidos
     </button>

    <button class="btn boton-opc1" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false">
     Administracion usuarios
    </button>

    <button class="btn boton-opc1" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false">
      Administracion Carta
     </button>

    <button class="btn boton-opc1" type="button" style="margin-left:50px;">Salir</button>
    </button></div>
    <!-- area de codigo -->

    <!-- Colapsable Pedidos -->
<div class="collapse" id="collapse1">
  <div class="card card-body">
    <table id="table1"><thead><tr>
        <th> Pedido ID </th>
        <th> User ID </th>
        <th> Estado </th>
        <th> Direccion </th>
        <th> Costo </th>
        <th> Descripcion </th></tr>
      </thead>
      <tbody>
        <tr></tr> 
      </tbody></table></div></div>  
      <!-- Colapsable Usuarios -->
<div class="collapse" id="collapse2">
  <div class="card card-body">
    <table id="table2"><thead><tr>
        <th> Nombre </th>
        <th> Apellido </th>
        <th> Correo </th>
        <th> Telefono </th>
        <th> User ID </th>
        <th> Nivel </th></tr>
      </thead>
      <tbody id="data-out">
        <tr><!-- se rellena con el script --></tr> 
      </tbody></table></div></div>  
      
      <!-- Colapsable Carta -->
<div class="collapse" id="collapse3">
  <div class="card card-body">
    <table><thead><tr>
        <th> Carta </th>
        <th> Opciones </th>
        <th> Edicion </th></tr>
      </thead>
      <tbody>
        <tr><!-- se rellena con el script --></tr> 
      </tbody></table></div></div>  
      
</div>       
</main>

<!-- data jscript -->
<SCRIPT src="js/data.js"></SCRIPT>

{% endblock %} 