{% extends "pizzapp/base.html" %}
{% block tittle %}historial{%  endblock %}
{% block content %} 
<div>
  {% load static %}
    <!-- Imagen central de página -->
    <nav class="navbar">
      <div class="container justify-content-center">
        <img src="{% static 'img/PlaceHolderLogo.png'%}" alt="Logo" width="100" height="100"> </a>
      </div>
    </nav>

<!-- Opciones para navegar por LAYOUT CLIENTE-->
<nav class="nav nav-pills nav-fill" ID="opciones">
  <a class="nav-link" href="main.html"> PRINCIPAL </a>
  <a class="nav-link" href="CARTA.html"> CARTA </a>
  <a class="nav-link" href="PREGUNTAS.html"> PREGUNTAS</a>
</nav>

<!--Divisor -->

<nav class="navbar">
  <div class="container-fluid">
  </div>
</nav> 

<!-- MAIN Cuerpo página -->
<main> 
  <div id=perc70> 
    <div class="container_historial"></div>
    <form method="get">
        <input type="text" name="busqueda" placeholder="Buscar fecha...">
        <button type="submit">Buscar</button>
    </form>
    <!--Divisor -->

<nav class="navbar">
  <div class="container-fluid">
  </div>
</nav> 
    <ul>
        {% for pedido in pedidos %}
            <li class=listapedidos>
              <strong>ID: </strong><p>{{ pedido.id_pedido }}</p><br>
              <strong>ESTADO: </strong><p>{{ pedido.estado_pedido_id_estado.descripcion_estado }}</p><br>
              <strong>FECHA: </strong><p>{{ pedido.fecha_pedido }}</p>
              <strong>HORA: </strong>  <p>{{ pedido.hora_pedido }}</p>
              <strong>TOTAL:  </strong>  <p>{{ pedido.total }}</p>
            </li>
        {% endfor %}
    </ul>
  </div>
  </div> <!-- Fin divisor perc70-->   
</main>
{% endblock %} 
