{% extends "pizzapp/base.html" %}
{% block tittle %}main{%  endblock %}
{% block content %} 
<div>
  {% load static %}

<!-- Imagen central de página -->
<nav class="navbar">
  <div class="container justify-content-center">
    <img src="{% static 'img/PlaceHolderLogo.png' %}" alt="Logo" width="300" height="300"> </a>
  </div>
</nav>    
   
<!-- Opciones para navegar por LAYOUT CLIENTE-->
<nav class="nav nav-pills nav-fill" ID="opciones">
  <a class="nav-link" aria-current="page" href="#" id="actual"> PRINCIPAL </a>
  <a class="nav-link" href="CARTA.html"> CARTA </a>
  <a class="nav-link" href="PREGUNTAS.html"> PREGUNTAS</a>
</nav>    

<!--Divisor entre opciones y promociones -->

<nav class="navbar">
  <div class="container-fluid">
  </div>
</nav>         
        
<!-- MAIN Cuerpo página -->
<main> 

<!-- Carrousel para las promociones -->
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active"> <img src="{% static 'img/PROMOCIONES.png' %}" class="img-fluid w-100" alt="...">
    </div>
    <div class="carousel-item"> <img src="{% static 'img/PROMOCIONES2.png' %}" class="img-fluid w-100" alt="...">
    </div>
    <div class="carousel-item"> <img src="{% static 'img/RRSSOTRO.png' %}" class="img-fluid w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden"> Siguiente </span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden"> Anterior </span>
  </button>
</div>    
        
<!--Divisor -->

<nav class="navbar">
  <div class="container-fluid">
  </div>
</nav>        

<!-- Zona para el mapa e información importante  -->

<div id="perc70" >
  <div class="container-fluid">
    <p> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3332.285041466576!2d-70.67896840853338!3d-33.363623667832684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c7025c925e0f%3A0x7f2f6a657c08d14a!2sDuoc%20UC%3A%20Sede%20Plaza%20Norte!5e0!3m2!1ses!2scl!4v1715891447809!5m2!1ses!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> </p>
  </div>
</div>        

</main>

    
{% endblock %} 