{% extends "pizzapp/base.html" %}
{% block tittle %}PREGUNTAS{%  endblock %}
{% block content %} 
<div>
  {% load static %}
<!-- Imagen central de página -->
<nav class="navbar">
    <div class="container justify-content-center">
      <img src="{% static 'img/PlaceHolderLogo.png' %}" alt="Logo" width="300" height="300"> </a>
    </div>
  </nav>  

  <!-- Opciones para navegar por LAYOUT CLIENTE-->
  <nav class="nav nav-pills nav-fill" ID="opciones">
    <a class="nav-link" href="main.html"> PRINCIPAL </a>
    <a class="nav-link" href="CARTA.html"> CARTA </a>
    <a class="nav-link"aria-current="page" href="#" id="actual"> PREGUNTAS</a>
  </nav>

  <!--Divisor -->

<nav class="navbar">
  <div class="container-fluid">
  </div>
</nav>  
        
<!-- MAIN Cuerpo página -->
<main> 
  <div id="perc70">
    <div class="container_faq">
    <form method="get">
        <input type="text" name="busqueda" placeholder="Buscar...">
        <button type="submit">Buscar</button>
    </form>
    <ul>
        {% for pregunta in preguntas %}
            <li class="container_faq">
                <strong class="question">{{ pregunta.pregunta }}</strong><br>
                <p class="answer">{{ pregunta.respuesta }}</p>
            </li>
        {% endfor %}
    </ul>
    </div>
  </div> <!-- Fin divisor perc70-->
</main>

{% endblock %} 