{% extends "pizzapp/base.html" %}
{% block tittle %}registro{%  endblock %}

{% block content %} 
<div>
  {% load static %}

<!-- Imagen central de página -->
<nav class="navbar">
  <div class="container justify-content-center">
    <img src="{% static 'img/PlaceHolderLogo.png'%}" alt="Logo" width="100" height="100" style="margin: 30px"> </a>
  </div>
</nav>   


<!-- Logins y formularios -->
<div id="perc70"> 
  <h2 class="texto-verde"> CREA TU CUENTA </h2>   
  
<!-- Formulario LOGIN -->
      <div class="row d-flex justify-content-center">
        <!-- Tres divisores que generan la caja/box para formularios -->
          <div class="col-md-6 col-xl-4">
              <div class="card mb-5">
                  <div class="card-body d-flex flex-column align-items-center">
    <!-- Inicio Formulario -->
                      <form id="formRegistro" action="usuariosAdd" method="POST">
                        {% csrf_token %}
                        {{form.as_p}}

                         <pre> <input class="estilo-form" type="text" name="nombre" placeholder="Nombre"></pre> 
                        <pre> <input class="estilo-form" pattern=".{3,20}" type="text" name="apellido_paterno" placeholder="Apellido Paterno"></pre> 
                        <pre> <input class="estilo-form" pattern=".{3,20}" type="email" name="mail" placeholder="Correo"></pre>
                        <pre> <input class="estilo-form" pattern=".{7,20}" id="itclave" type="password" name="clave" placeholder="Clave (Min. 7 letras)"></pre>
                        <pre> <input class="estilo-form" pattern=".{7,20}" id="itclave2" type="password" name="clave_vf" placeholder="Clave copia"></pre>
                        <div id="error2" class="error-form"> Claves no coinciden </div>
                        <pre> <input class="estilo-form" pattern=".{9,9}"  id="ittelefono" type="number" name="telefono" placeholder="Telefono (911223344)"></pre>
                        <div id="error1" class="error-form"> Telefono invalido </div>



                        <div id="idMensajes"> 
                          {% if mensaje %}
                          {{mensaje}}
                          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="false"><div><div> <div>
                          {% endif %}

                        </div>
                          <br>               
                          <div class="mb-3">
                          <button type="submit" id="btnregistro" class="btn boton-opc1 d-block w-100"> Crear usuario </button>
  
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      <h4 class="texto-verde"> <a class="texto-verde" href="login"> INICIAR SESIÓN </a> </h4> 
      <br>
      <h4 class="texto-verde"> <a class="texto-verde" href="main.html">  VOLVER A MENÚ </a></h4>
  </div>
  
</main>

<script>
  var expr = /^[a-zA-Z0-9_\.\-]+@[a-zA-Z0-9\-]+\.[a-zA-Z0-9\-\.]+$/;
  //var exp2 = /^.{9,}$/


  $(document).ready(function(){
    $("#btnregistro").click(function(){

      var clave = $("#itclave").val();
      var clave2 = $("#itclave2").val();
      var telefono = $("#ittelefono").val();

        if(telefono == "" || isNaN(telefono) || telefono.length <= 8){
          $("#error1").fadeIn();
          return false; 
        } else { $("#error1").fadeOut();

          if(clave == "" || clave != clave2 ){
            $("#error2").fadeIn();
          return false; 
          }else{$("#error2").fadeOut();

          }
        }
    });

  });
</script>

<script type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>

<script type="text/javascript">
  emailjs.init('XGSRyFVpmsTq_nYzy')
</script>

{% endblock %} 
